@import 'src/styles/tokens/functions.scss';

.content-block {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-height: gs(40);
    background: #fff;
    padding: gs(3);
    border-bottom-left-radius: gs(2);
    border-bottom-right-radius: gs(2);
    outline: none;
}
