@import '../../../styles/index.scss';

.popup {
    min-width: 100px;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    &__modal {
        background-color: white;
        min-width: 50%;
        min-height: 50%;
        height: max-content;
        margin: auto;
        border-radius: gs(1);
        position: relative;
    }
    &__title {
        color: black;
        padding: gs(2) gs(1) gs(1);
        margin: 0 auto;
    }
    &__cancel {
        svg {
            fill: grey;
        }
        position: absolute;
        right: gs(1);
        top: gs(1);
    }

    &__header {
        display: flex;
        flex-direction: row;
    }
    &__content {
        width: 100%;
        height: max-content;
        padding: gs(2);
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    &__footer {
        width: 100%;
        height: 100%;
        padding: gs(2);
    }
}
