@import 'src/styles/tokens/variables.scss';
@import 'src/styles/tokens/functions.scss';

.container {
    max-width: gs(100);
    min-width: gs(10);
    min-height: gs(40);
    border-radius: gs(2);
    border: 1px solid $cl-error;
    box-shadow: $shadow-big;
}
