@import 'src/styles/tokens/variables.scss';
@import 'src/styles/tokens/functions.scss';

.container {
    min-width: gs(10);
    min-height: gs(40);
    border-radius: gs(2);
    box-shadow: $shadow-big;
}
