@import 'src/styles/tokens/variables.scss';
@import 'src/styles/tokens/functions.scss';

.container {
    min-width: gs(10);
    min-height: gs(40);
    max-width: gs(90);
    border-radius: gs(2);
    box-shadow: $shadow-big;
    border: 1px;
    border-color: #eee;
    margin: auto;
    position: relative;
}
