@import '../../../styles/tokens/variables.scss';
@import '../../../styles/tokens/functions.scss';

.select {
    &__dropdown {
        z-index: 100;
        box-sizing: border-box;
        display: block;
        position: fixed;
        box-shadow:
            0 12px 28px #0003,
            0 2px 4px #0000001a,
            inset 0 0 0 1px #ffffff80;
        border-radius: 8px;
        min-height: 40px;
        background-color: #fff;
        top: 24%;
        padding: gs(1, true);
    }

    &__item {
        :hover {
            background-color: $cl-grey60;
        }
    }
}
