@import 'src/styles/tokens/variables.scss';
@import 'src/styles/tokens/functions.scss';

.select {
    position: relative;

    &__dropdown {
        z-index: 100;
        display: block;
        position: fixed;
        box-shadow:
            0 12px 28px #0003,
            0 2px 4px #0000001a,
            inset 0 0 0 1px #ffffff80;
        border-radius: 8px;
        min-height: 40px;
        background-color: #fff;
        top: 15%;
    }

    &__list {
        padding: gs(1, true);
    }
}
